<%= link_to charter_path, class: 'btn-blue btn-large square', style: 'padding-left: 5px;' do %>
    <i class="material-icons inline">event</i><span style="position: relative; top: 1px; left: 5px">Book Now</span>
<% end %>
