<div class="btn_nav">
  <div class="grid-10">
    <div class="nav_btn col-2">
      <button class="btn btn-blue btn-round btn-compass">
        <span class="visuallyhidden">view the home page</span>
      </button>
    </div>

    <div class="nav_btn col-2">
      <button class="btn btn-light-teal btn-round btn-boat">
        <span class="visuallyhidden">description of the alona blue catamaran</span>
      </button>
    </div>

    <div class="nav_btn col-2">
      <button class="btn btn-teal btn-round btn-location">
        <span class="visuallyhidden">find alona blue on the map</span>
      </button>
    </div>

    <div class="nav_btn col-2">
      <button class="btn btn-orange btn-round btn-gallery">
        <span class="visuallyhidden">view the photo gallery</span>
      </button>
    </div>

    <div class="nav_btn col-2">
      <button class="btn btn-green btn-round btn-email">
        <span class="visuallyhidden">contact us</span>
      </button>
    </div>
  </div>
</div>
