<div class="grid">
  <div class="row-12-col">
    <div class="card white yacht-card">
      <div class="large"><%= render partial: 'nav' %></div>
      <div class="card_media">
        <h2 class="white-text">Built on Panglao Island</h2>
      </div>
    </div>
  </div>
  <div class="row-12-col">
    <div class="card white-text">
      <div class="card_title">
        <h2>Our Yacht</h2>
      </div>
      <div class="card_body bordered">
        <p>
          Alona Blue is a 36 foot sailing catamaran and was designed specifically for private charter sailing our
          day trips or overnight Island Hopping.
        </p>

        <p>
          Built on Panglao Island, Bohol with. Stainless steel railings built around the entire boat for safety and
          making it easy to move about the deck. Two Ladders allow easy access to the ocean for swimming and snorkeling.
          We have snorkel gear, inner tubs, life vests and foam floaters for you to safely enjoy your snorkel or swim.
        </p>

        <p>
          Our galley is well organized to produce delicious meals, snacks and super cold beer and drinks for you to enjoy
          during your sailing adventure. There is a 21" TV for watching videos and a cd/mp3 player with lots of different
          music to choose from.
        </p>

        <p>
          On the stern (the back end) of Alona Blue is our 3m rubber dingy, Alona Blue 2. The dingy is used for going
          ashore to explore the many beaches of this stunning part of the world or to take our guests to special snorkel
          sites.
        </p>

        <p>
          When you’ve had enough sun, cool shady seating is available both on deck under our large sun roof and inside
          the cabin.
        </p>
      </div>
      <div class="card_support">
        <%= render 'book_now_btn' %>
      </div>
    </div>
  </div>
  <div class="row-4-col">
    <div class="card card-group white galley-card">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        The main cabin of the yacht is a spacious 10 square meters with 1.8m (6'1") headroom. An 'L' shaped dining
        table provides seating for six people.
      </div>
    </div>
  </div>
  <div class="row-4-col">
    <div class="card card-group kitchen-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        The kitchen area
      </div>
    </div>
  </div>
  <div class="row-4-col">
    <div class="card card-group the-head-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        When nature calls we have a nice private and clean, comfortable bathroom with fresh water shower including
        shampoo, soap and towels for freshening up after you snorkel or swimming experience.
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group guest-bed-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        The guest bedroom
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group master-bed-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Feel free to snooze in our on-deck hammock or choose one of our breezy sleeping cabins (master bedroom shown here).
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group sunset-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        On deck we offer a variety of relaxing areas for sunbathing with a spacious sunroof for shade as well as two
        comfortable trampoline nets and bow seats.
      </div>
    </div>
  </div>

  <div class="row-12-col">
    <div class="card white foxy-jenny-card">
      <div class="card_media"></div>
    </div>
  </div>
</div>
