<div class="grid">
  <div class="row-12-col">
    <div class="card white couple-cover-card">
      <div class="large"><%= render partial: 'nav' %></div>
      <div class="card_media">
        <h2 class="white-text">Photo Gallery</h2>
      </div>
      <%= card_support_text("See what it's like to charter Alona Blue") %>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group white alone-b-card">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Alona Blue Catamaran
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group backdeck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Alona Blue II (the dingy) hanging off the stern
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group frontdeck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Lay above the glassy ocean on our trampoline nets
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group foxy-sunset-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Foxy enjoying the sunset with guests
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group captaining-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Steering Alona Blue
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group food-on-deck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Fresh sushi on deck!
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group couple-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Life is good
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group group-on-deck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        We accompany parties of up to 10!
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group romance-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Romantic sunset, anyone?
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group veggie-platter-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Nothing like fresh veggy platters
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group bbq-on-deck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        We love BBQ!
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group white feast-card">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Anyone up for a feast?
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group white turtle-card">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Did we mention turtles?
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group girls-on-ladder-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        Girls playing on the drop ladder
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group white my-girl-card">
      <div class="card_media"></div>
      <div class="card_support color-text-blue grey">
        We keep the snacks coming
      </div>
    </div>
  </div>

</div>
