<div class="grid">
  <div class="row-12-col">
    <div class="card white couple-cover-card">
      <div class="large"><%= render partial: 'nav', locals: { active: { gallery: 'active' } } %></div>
      <div class="card_media">
        <h2 class="white-text">Photo Gallery</h2>
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group girls-on-ladder-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Girls playing on the drop ladder
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group backdeck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        The cozy back deck
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group frontdeck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Lay above the glassy ocean on our trampoline nets
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group foxy-sunset-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Foxy enjoying the sunset with guests
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group captaining-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Steering Alona Blue
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group food-on-deck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Fresh sushi on deck!
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group couple-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Life is good
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group group-on-deck-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        We accompany parties of up to 10!
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card card-group romance-card white">
      <div class="card_media"></div>
      <div class="card_support color-text-grey-600 grey">
        Romantic sunset, anyone?
      </div>
    </div>
  </div>

</div>
