<div class="mdl-card crew-pic mdl-cell mdl-cell--8-col">
  <div class="mdl-card__media"></div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo"></div>
    <div>
      <strong>Private sailing charters in the Central Visayas, Philippines</strong>
    </div>
  </div>
</div>
<div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
  <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
    <i><%= image_tag('icons/mail-icon-white.png', size: "30x30", alt: 'contact us') %></i>
    <span class="visuallyhidden">contact us</span>
  </button>
  <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
    <%= image_tag('alonablue-logo.jpg') %>
  </div>
  <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
    <div>
      <strong>Welcome</strong>
    </div>
  </div>
</div>
<div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title mdl-card--expand">
    <h3>Alona Blue Sailing Charters</h3>
  </div>
  <div class="mdl-card__supporting-text mdl-card__actions mdl-card--border">
    <p>
      Come and join us for an unforgettable experience sailing and exploring the magnificent aqua blue waters around
      Panglao and Bohol Islands in the Philippines.
    </p>

    <p>
      Magical snorkeling, fabulous food - it's all possible with our beautiful private catamaran, Alona Blue. With a
      minimum of 4 guests maximum of 10 guest, we offer a relaxed and personalised yacht charter service to ensure you
      take away a truly memorable experience.
    </p>

    <p>
      We look forward to hearing from you and answering any questions you may have.
    </p>

  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Book Now
    </a>

    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">event</i>
  </div>
</div>
<div class="mdl-card the-crew mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media"></div>
  <div class="mdl-card__supporting-text" style="min-height: 26px;padding-bottom: 0">
    <p>Captain Mike, First Mate Jenny and Foxy</p>
  </div>
</div>
