<div class="btn_nav">
  <a href="#" class="btn btn-blue btn-round btn-email">
    <i><%= image_tag('icons/mail-icon-white.png', size: "30x30", alt: 'contact us') %></i>
    <span class="visuallyhidden">contact us</span>
  </a>
</div>
<div style="clear: both"></div>
<div class="row-4-col">
  <div class="card white logo-card">
    <div class="card_media">
      <div class="alona-blue logo"></div>
    </div>
    <div class="card_support meta color-text-grey-600 grey" style="padding-top: 31px;padding-bottom: 31px;">
      <div>
        <strong>Welcome</strong>
      </div>
    </div>
  </div>
</div>
<div class="row-8-col">
  <div class="card white jenny-card">
    <div class="card_media"></div>
    <div class="card_support meta color-text-grey-600">
      <div class="logo mini inline"></div>
      <strong>Private sailing charters in the Central Visayas, Philippines</strong>
    </div>
  </div>
</div>
<div class="row-12-col">
  <div class="card white-text">
    <div class="card_title">
      <h2>Alona Blue Sailing Charters</h2>
    </div>
    <div class="card_body bordered">
      <p>
        Come and join us for an unforgettable experience sailing and exploring the magnificent aqua blue waters around
        Panglao and Bohol Islands in the Philippines.
      </p>

      <p>
        Magical snorkeling, fabulous food - it's all possible with our beautiful private catamaran, Alona Blue. With a
        minimum of 4 guests maximum of 10 guest, we offer a relaxed and personalised yacht charter service to ensure you
        take away a truly memorable experience.
      </p>

      <p>
        We look forward to hearing from you and answering any questions you may have.
      </p>

    </div>
    <div class="card_support">
      <a class="button blue square inline">
        <i class="material-icons inline">event</i>
        Book Now
      </a>
    </div>
  </div>
</div>
<div class="row-12-col">
  <div class="card the-crew-card white">
    <div class="card_media"></div>
    <div class="card_support color-text-grey-600 grey">
      <p>Captain Mike, First Mate Jenny and Foxy</p>
    </div>
  </div>
</div>
