<div class="grid">
  <div class="row-4-col right">
    <div class="card white logo-card">
      <%= render partial: 'nav', locals: { current_page: { home: 'active' } } %>
      <div class="card_media">
        <div class="alona-blue logo"></div>
      </div>
      <div class="card_support meta color-text-grey-600 grey" style="padding-top: 31px;padding-bottom: 31px;">
        <div>
          <strong>Welcome</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row-8-col right">
    <div class="card white jenny-card">
      <div class="card_media"></div>
      <div class="card_support meta color-text-grey-600">
        <div class="grid">
          <div class="left">
            <div class="logo mini"></div>
          </div>
          <div class="row-10-col">
            <div class="business-description">
              <strong>Private sailing charters in the Visayas, Philippines</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-12-col">
    <div class="card white-text">
      <div class="card_title">
        <h2>Alona Blue Sailing Charters</h2>
      </div>
      <div class="card_body bordered">
        <p>
          Welcome aboard Alona Blue, we invite you to come and join us for an unforgettable experience sailing,
          and exploring the magnificent aqua blue waters around Panglao and Bohol Islands in the Philippines.
        </p>

        <p>
          Magical snorkeling fabulous food and drinks, good music, personal service - it's all possible on our beautiful
          new 36' sailing catamaran, Alona Blue.
        </p>

        <p>
          We offer a relaxed and personalized yacht charter service to ensure you take away a truly memorable
          experience.
        </p>

        <p>Take a moment to view our web site to see photos and the trips we offer.</p>

        <p>We look forward to hearing from you and answering any questions you may have.</p>

        <p>
          Please visit
          <a href="http://www.tripadvisor.com/g1066348-d7276083" target="_blank">Alona Blue on TripAdvisor</a> for
          reviews by our quests. We are #1 in Activities in Tagbilaran City!
        </p>

        <p>Hope to see you soon,</p>

        <p>Fair Winds,</p>

        <p>Capt Mike, Jenny, and Foxy</p>
      </div>
      <div class="card_support">
        <%= render 'book_now_btn' %>
      </div>
    </div>
  </div>
  <div class="row-4-col right">
    <div class="card white trip-advisor-review-card">
      <div class="card_media">
        <div id="TA_selfserveprop355" class="TA_selfserveprop">
          <ul id="mFvuaKd9o" class="TA_links WlzMF8OBRcdt">
            <li id="j7HEEGVFm" class="JDvlz1rXq">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
          </ul>
        </div>
        <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=355&amp;locationId=7276083&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
      </div>
    </div>
  </div>

  <div class="row-8-col">
    <div class="card white-text the-crew-card">
      <div class="card_media"></div>
    </div>
  </div>

  <div class="row-12-col">
    <div class="card white-text">
      <div class="card_title">
        <h2>Meet the crew</h2>
      </div>
      <div class="card_body bordered">
        <p>
          Captain Mike, an American national, has lived in the Philippines for 13 years. He grew up around boats and
          started serious sailing at the age of 16 in Southern California. He relocated to Hawaii and spent 30 years
          sailing and operating charter boats from there.
        </p>

        <p>
          Mike has sailed the west coast of California, Mexico, the Great Lakes and the east coast of America down to
          the Bahamas. He has a US Coast Guard Merchant Mariners license for 100 ton vessels and lots of great stories
          to share. His love of the sea and sailing will enrich your time aboard Alona Blue which he finished building
          in 2013.
        </p>

        <p>
          First Mate, Jenny, is a native Filipina and is a natural on the water. She is a great cook and very
          knowledgeable in the culture of the Philippines.
        </p>

        <p>
          Your Second Mate is our wonderful Pomeranian, “Foxy” who is 8 years old and loves the sailing life as much as
          we do. She is a delight to all who meet her and will certainly make your time with us extra special.
        </p>

      </div>
    </div>
  </div>
</div>
