<div class="grid">
  <div class="row-12-col">
    <div class="card white skipper-card">
      <div class="large"><%= render partial: 'nav' %></div>
      <div class="card_media">
        <h2 class="white-text">Location</h2>
      </div>
      <%= card_support_text("We are located in Tagbilaran City, on the island of Bohol") %>
    </div>
  </div>
</div>
<div class="grid">
  <div class="row-8-col right">
    <div class="card map-card white" style="position: relative">
      <div id="map"></div>
    </div>
  </div>
  <div class="row-4-col right">
    <div class="card white trip-advisor-review-card">
      <div class="card_media">
        <div id="TA_selfserveprop355" class="TA_selfserveprop">
          <ul id="mFvuaKd9o" class="TA_links WlzMF8OBRcdt">
            <li id="j7HEEGVFm" class="JDvlz1rXq">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
          </ul>
        </div>
        <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=355&amp;locationId=7276083&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
      </div>
    </div>
  </div>
  <div class="row-12-col">
    <div class="card white cebu-bohol-card">
      <div class="card_media">
        <h2 class="white-text">How to get to us from Cebu</h2>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbernP0NZYEAk0kDX-Yt1z0_jJj0CkMH0&sensor=false&libraries=geometry">
</script>
<script>
    (function () {
        var latLong = new google.maps.LatLng(9.649510, 123.847337);
        var mapOptions = {
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            center: latLong
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var markerOptions = {
            position: latLong,
            map: map,
            title: 'Alona Blue Sailing Charters'
        };
        var marker = new google.maps.Marker(markerOptions);
        var info_window = new google.maps.InfoWindow({
            size: new google.maps.Size(150, 50)
        });
        info_window.setContent('<p><strong>Alona Blue Sailing Charters</strong><br/>Tagbilaran Pier, Bohol</p>');
        info_window.open(map, marker);
    })()
</script>
