<div class="grid">
  <div class="row-12-col">
    <div class="card white skipper-card">
      <div class="large"><%= render partial: 'nav', locals: { current_page: { location: 'active' } } %></div>
      <div class="card_media">
        <h2 class="white-text">It's all about location</h2>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="row-4-col">
    <div class="card white trip-advisor-review-card">
      <div class="card_media">
        <div id="TA_selfserveprop355" class="TA_selfserveprop">
          <ul id="mFvuaKd9o" class="TA_links WlzMF8OBRcdt">
            <li id="j7HEEGVFm" class="JDvlz1rXq">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
          </ul>
        </div>
        <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=355&amp;locationId=7276083&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
      </div>
    </div>
  </div>
  <div class="row-8-col">
    <div class="card white" style="position: relative">
      <div class="overlay" title="Click or tap to enable the map" alt="Click or tap to enable the map" onClick="style.pointerEvents='none'"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2083.199444592891!2d123.84752899137992!3d9.648844459756209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33aa4dacb1ec67f7%3A0x45d76c6e35b4e3ce!2sTagbilaran+City+Tourist+Port!5e0!3m2!1sen!2sus!4v1441665124365" width="100%" height="435" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
