<div class="grid">
  <div class="row-12-col">
    <div class="card white skipper-card">
      <div class="large"><%= render partial: 'nav', locals: { current_page: { location: 'active' } } %></div>
      <div class="card_media">
        <h2 class="white-text">It's all about location</h2>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="row-8-col right">
    <div class="card white" style="position: relative">
      <div class="overlay" title="Click or tap to enable the map" alt="Click or tap to enable the map" onClick="style.pointerEvents='none'"></div>
      <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=z3OWUB44rGDU.k8PWvcH3KumA" width="100%" height="435" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
  <div class="row-4-col right">
    <div class="card white trip-advisor-review-card">
      <div class="card_media">
        <div id="TA_selfserveprop355" class="TA_selfserveprop">
          <ul id="mFvuaKd9o" class="TA_links WlzMF8OBRcdt">
            <li id="j7HEEGVFm" class="JDvlz1rXq">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
          </ul>
        </div>
        <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=355&amp;locationId=7276083&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
      </div>
    </div>
  </div>
</div>
