<div class="grid">
  <div class="row-12-col">
    <div class="card white frontdeck-card card-group" style="position: relative">
      <div class="large"><%= render partial: 'home/nav', locals: { current_page: { contact: 'active' } } %></div>
      <div class="card_media" style="height: 420px">
        <h2 class="white-text">Contact Us</h2>
      </div>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card white">
      <div class="card_body padded color-text-grey-600">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="row-8-col">
    <div class="card white-text" style="min-height: 570px;">
      <div class="card_title">
        <h2>Cruise Options</h2>
      </div>
      <div class="card_body bordered" style="border-bottom: none">
        <p>
          We offer a variety of sailing cruises
          Maximum of 10 and Minimum of 4 people
        </p>

        <p>
          Half Day Morning Discovery Cruise 9:00am- 2pm (5 hours)
        </p>

        <p>
          Sunset Cocktail Cruise 3:30pm- 6:30pm (3 hours)
        </p>

        <p>
          Special Charters: Island Hopping (Overnight), birthdays, family reunion,weddings, team building and etc
          We can also tailor special events for you. Just ring us to discuss your needs.
        </p>

        <p>
          For your comfort and safety we cater to groups no larger than10 people. Minimum age for children is 5 years
          for all charters.

        </p>

        <p>
          Magical snorkeling, fabulous food - it's all possible with our beautiful private catamaran, Alona Blue. With a
          minimum of 4 guests maximum of 10 guest, we offer a relaxed and personalised yacht charter service to ensure
          you
          take away a truly memorable experience.
        </p>

        <p>
          We look forward to hearing from you and answering any questions you may have.
        </p>

      </div>
    </div>
  </div>
  <div class="row-12-col">
    <div class="card white-text">
      <div class="card_title">
        <h2>An example of our Half Day Discovery Cruise...</h2>
      </div>
      <div class="card_body bordered">
        <p>
          We set sail from Tagbilaran Yacht Club with great views of the coastlines of Panglao, Bohol and Cebu Islands.
        </p>

        <p>
          When we arrive at Panglao Nature Resort we drop anchor and it’s time for some great snorkeling and swimming. We are happy to provide you with top quality masks, snorkels and booties along with floatation jackets if you need them. Our crew will help you get comfortably fitted with your gear and then escort you into the water to be of assistance if you need them. We serve your lunch after snorkelling and swimming around 12 noon or 1 in the afternoon.  Then we set sail again for our return trip.
        </p>
      </div>
    </div>
  </div>
</div>
