<div class="grid">
  <div class="row-12-col">
    <div class="card white frontdeck-card card-group" style="position: relative">
      <div class="large"><%= render partial: 'home/nav' %></div>
      <div class="card_media" style="height: 420px">
        <h2 class="white-text">Contact Us</h2>
      </div>
      <%= card_support_text("Feel free to contact us with questions or to make a reservation") %>
    </div>
  </div>

  <div class="row-4-col">
    <div class="card white">
      <div class="card_body padded color-text-blue">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="row-8-col">
    <div class="card white-text" style="min-height: 570px;">
      <div class="card_title">
        <h2>Daily sailing trip options</h2>
      </div>
      <div class="card_body bordered" style="border-bottom: none">
        <p>
          We offer a variety of sailing cruises with a <i>maximum of 10</i> and <strong>minimum of 4</strong> people,
          with minimum of 5 years old for children.
        </p>

        <p>
          If you are two or three persons we will offer you a private charter with a <strong>20% discount</strong> off
          our regular prices.
        </p>
        <h3>COMFORTABLE, SAFE, FUN, SAILING TRIPS</h3>
        <ul>
          <li><strong>MORNING HALF DAY TRIPS 9AM TO 2:30PM</strong>

            <p>INCLUDES: GREAT BARBECUE LUNCH, SODA, BEER, MAI TAI RUM, JUICE, MUSIC, SNORKEL GEAR, SWIMMING!</p>

            <p>1500.00 pesos per person</p>
          </li>
          <li><strong>SUNSET TRIPS 3:30PM TO 6:00PM</strong>

            <p>INCLUDES: GREAT APPETIZERS, CHIPS, SODA, BEER, MAI TAI RUM, JUICE, MUSIC, SWIMMING, FREE SUNSETS!</p>

            <p>1200.00 pesos per person</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="row-12-col">
    <div class="card white-text">
      <div class="card_body">
        <p>
          Special Charters: Island Hopping (overnight), birthdays, family reunion, weddings, team
          building and etc. We can also tailor special events for you, just email or call us to discuss your needs.
        </p>

        <p>
          Magical snorkeling, great sailings, fabulous food, cold drinks - it's all possible with our beautiful
          private catamaran, Alona Blue.
        </p>

        <p>
          We offer a relaxed and personalized yacht charter service to ensure you take away a truly memorable
          experience.
        </p>

        <p>
          We look forward to hearing from you and answering any questions you may have.
        </p>
      </div>
    </div>
  </div>
  <div class="row-12-col">
    <div class="card aqua white-text">
      <div class="card_title">
        <h2>An example of our Half Day Discovery Cruise...</h2>
      </div>
      <div class="card_body bordered">
        <p>
          We set sail from Tagbilaran Yacht Club with great views of the coastlines of Panglao, Bohol and Cebu Islands.
        </p>

        <p>
          When we arrive at Panglao Nature Resort we drop anchor and it’s time for some great snorkeling and swimming.
          We are happy to provide you with top quality masks, snorkels and booties along with floatation jackets if you
          need them. Our crew will help you get comfortably fitted with your gear and then escort you into the water to
          be of assistance if you need them. We serve your lunch after snorkelling and swimming around 12 noon or 1 in
          the afternoon. Then we set sail again for our return trip.
        </p>
      </div>
    </div>
  </div>
</div>
