@import 'vars';

.card {
  box-sizing: border-box;
  margin: 10px;
  background-color: $blue;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  &.white {
    background-color: #FFF;
  }

  .card_support {
    font-size: 16px;
    line-height: 20px;
    padding: 25px 10px 25px 15px;

    &.grey {
      background: #F5F5F5;
    }
  }

  .card_title {
    padding: 16px;
  }

  .card_body {
    padding: 0 16px;
    &.bordered {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    p {
      padding: 10px 0;
    }
  }

  .card_media {
    position: relative;
    h2 {
      box-sizing: border-box;
      position: absolute;
      bottom: 20px;
      left: 0;
      padding: 10px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.jenny-card {
  .card_media {
    height: 316px;
    background-image: image-url('boat/bgbg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: none;
  }
}

.logo-card {
  position: relative;

  .card_media {
    text-align: center;
    padding: 24px;
  }
}

.yacht-card {
  .card_media {
    background-image: image-url('boat/11696806_902139349824376_810806211_n.jpg');
    height: 420px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.the-crew-card {
  .card_media {
    background-image: image-url('boat/crew.jpg');
    height: 500px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.foxy-jenny-card {
  .card_media {
    background-image: image-url('boat/foxy-and-jenny.jpg');
    height: 500px;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.girl-card {
  .card_media {
    background-image: image-url('boat/girl.jpg');
    height: 420px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.card-group {
  .card_media {
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.galley-card {
  .card_media {
    background-image: image-url('boat/table-in-galley.jpg');
  }
}

.captaining-card {
  .card_media {
    background-image: image-url('boat/captaining.jpg');
  }
}

.the-head-card {
  .card_media {
    background-image: image-url('boat/the-head.jpg');
  }
}

.kitchen-card {
  .card_media {
    background-image: image-url('boat/kitchen2.jpg');
  }
}

.guest-bed-card {
  .card_media {
    background-image: image-url('boat/guest-bed.jpg');
  }
}

.master-bed-card {
  .card_media {
    background-image: image-url('boat/master-bed-room.jpg');
  }
}

.girls-on-ladder-card {
  .card_media {
    background-image: image-url('boat/girls-on-ladder.jpg');
  }
}

.backdeck-card {
  .card_media {
    background-image: image-url('boat/backdeck.jpg');
  }
}

.frontdeck-card {
  .card_media {
    background-image: image-url('boat/frontdeck.jpg');
  }
}

.sunset-card {
  .card_media {
    background-image: image-url('boat/sunset.jpg');
  }
}

.foxy-sunset-card {
  .card_media {
    background-image: image-url('boat/foxy-sunset.jpg');
  }
}
