@import 'vars';

.card {
  box-sizing: border-box;
  margin: 10px;
  background-color: $blue;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  &.white {
    background-color: #FFF;
  }

  &.aqua {
    background-color: darken($aqua, 15%);
  }

  .card_support {
    font-size: $font-size;
    line-height: 20px;
    padding: 25px 10px 25px 15px;

    &.grey {
      background: #F5F5F5;
    }
  }

  .card_title {
    padding: 16px;
  }

  .card_body {
    padding-left: 16px;
    padding-right: 16px;

    &.padded {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &.bordered {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    p {
      padding: 10px 0;
    }
  }

  .card_media {
    position: relative;
    h2 {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);

      &.top {
        top: 0;
        bottom: auto;
      }
    }
  }

  .video-content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .video-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.jenny-card {
  .card_media {
    height: 316px;
    background-image: image-url('boat/jenny-in-the-sunset.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: none;
  }
}

.logo-card {
  position: relative;

  .card_media {
    text-align: center;
    padding: 24px;
  }
}

.yacht-card {
  position: relative;

  .card_media {
    @extend .card-cover;
    background-image: image-url('boat/front-view-of-alonablue.jpg');
  }
}

.the-crew-card {
  .card_media {
    background-image: image-url('boat/alonablue-first-crew.jpg');
    height: 439px;
    background-position: 40% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.foxy-jenny-card {
  .card_media {
    background-image: image-url('boat/foxy-and-jenny.jpg');
    height: 500px;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.girl-card {
  .card_media {
    @extend .card-cover;
    background-image: image-url('boat/girl.jpg');
  }
}

.couple-cover-card {
  position: relative;

  .card_media {
    @extend .card-cover;
    background-image: image-url('couple-on-back.jpg');
  }
}

.girls-by-boom-card {
  background-image: image-url('boat/girls-by-boom.jpg');
}

.card-cover {
  height: 420px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.card-group {
  .card_media {
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.galley-card {
  .card_media {
    background-image: image-url('boat/table-in-galley.jpg');
  }
}

.captaining-card {
  .card_media {
    background-image: image-url('boat/captaining.jpg');
  }
}

.the-head-card {
  .card_media {
    background-image: image-url('boat/head.jpg');
  }
}

.kitchen-card {
  .card_media {
    background-image: image-url('boat/kitchen2.jpg');
  }
}

.guest-bed-card {
  .card_media {
    background-image: image-url('boat/guest-bed.jpg');
  }
}

.master-bed-card {
  .card_media {
    background-image: image-url('boat/master-bed-room.jpg');
  }
}

.girls-on-ladder-card {
  .card_media {
    background-image: image-url('boat/girls-on-ladder.jpg');
  }
}

.backdeck-card {
  .card_media {
    background-image: image-url('boat/backdeck.jpg');
  }
}

.frontdeck-card {
  .card_media {
    background-image: image-url('boat/frontdeck.jpg');
  }
}

.sunset-card {
  .card_media {
    background-image: image-url('boat/sunset.jpg');
  }
}

.foxy-sunset-card {
  .card_media {
    background-image: image-url('boat/foxy-sunset.jpg');
  }
}

.food-on-deck-card {
  .card_media {
    background-image: image-url('food/food-on-deck');
  }
}

.couple-card {
  .card_media {
    background-image: image-url('couple.jpg');
  }
}

.group-on-deck-card {
  .card_media {
    background-image: image-url('group.jpg');
  }
}

.romance-card {
  .card_media {
    background-image: image-url('jig-at-sunset.jpg');
  }
}

.veggie-platter-card {
  .card_media {
    background-image: image-url('food/veggie-platter.jpg');
  }
}

.bbq-on-deck-card {
  .card_media {
    background-image: image-url('food/bbq-on-deck.jpg');
  }
}

.feast-card {
  .card_media {
    background-image: image-url('food/feast.jpg');
  }
}

.turtle-card {
  .card_media {
    background-image: image-url('diving/turtle.jpg');
  }
}

.alone-b-card {
  .card_media {
    background-position: center 75%;
    background-image: image-url('boat/alona-blue-in-full-beauty.jpg');
  }
}

.my-girl-card {
  .card_media {
    background-image: image-url('food/girl-aft-with-foot.jpg');
  }
}

.trip-advisor-review-card {
  min-height: 439px;
  padding: 10px;

  .card_media {
    ul li {
      list-style: none;
    }
    // Override the tripadvisor container width
    #CDSWIDSSP {
      width: 100% !important;
      * {
        font-size: 12px !important;
      }

      .widSSPData {
        border: none !important;
      }
    }
  }
}

.skipper-card {
  position: relative;

  .card_media {
    @extend .card-cover;
    background-image: image-url('boat/skipper-mike-sunset.jpg');
  }
}

.cebu-bohol-card {
  .card_media {
    @extend .card-cover;
    height: 639px;
    background-image: image-url('route-cebu-to-bohol-min.jpg');
  }
}

.map-card {
  #map {
    min-height: 439px;
  }
}