.grid {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 1px;
  }
  .row-1-col,
  .row-2-col,
  .row-4-col,
  .row-8-col,
  .row-10-col,
  .row-11-col,
  .row-12-col {
    float: left;
  }

  .row-1-col {
    width: 8.333333333%;
  }

  .row-2-col {
    width: 16.666666667%;
  }

  .row-4-col {
    width: 33.666666666667%;
  }

  .row-8-col {
    width: 66.33333333333%;
  }

  .row-10-col {
    width: 83.333333333%;
  }

  .row-11-col {
    width: 91.666666667%;
  }

  .row-12-col {
    width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .grid {
    .row-4-col,
    .row-8-col {
      width: 100%;
    }
  }
}
