@import 'mixins';

.alona-blue {
  &.layout {
    min-width: 320px;
    padding: 40px 20px;

    @media screen and (max-width: 800px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .layout-content {
    position: relative;
    top: 20px;
  }

  .layout-content,
  .footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;

    div, p, h1, h2, h3 {
      text-align: left;
    }
  }

  .logo {
    width: 250px;
    height: 268px;
    background-image: image-url('alonablue-logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;

    &.mini {
      width: 32px;
      height: 32px;
      background-image: image-url('alonablue-logo.jpg');
      background-size: 100%;
    }
  }

  .color-text-grey-600 {
    color: #757575 !important;
  }

  .inline {
    display: inline-block;
    vertical-align: middle;
  }

  .white-text {
    color: #FFFFFF;
  }

  .footer {
    margin: 20px auto;

    .footer-content {
      box-sizing: border-box;
      margin: 20px 10px;
      background-color: #FFF;
      padding: 24px;
    }
  }

  .visuallyhidden {
    visibility: visible;
    display: none;
  }

  @media screen and (max-width: 400px) {
    h2 {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .right {
    float: right !important;
  }

  .left {
    float: left !important;
  }

  .center {
    text-align: center !important;
  }
}
