// Colors
$body-color: #FFF;
$primary-color: #FFF;
$secondary-color: #333;
$section-color: #FAFAFA;
$font-color: #333;
$menu-color: #494949;
$red: #ee2c3a;
$black: #242424;
$blue: rgb(60, 75, 175);
$green: #468844;
$success: #088A08;
$white: #FAFAFA;
$dark-gray: #5f5f5f;
$orange: #EC9207;
$dropdown-border: #BDBDBD;
$teal: #146087;
$dark-green: #037B6E;
$light-teal: #2484A3;

// Sizes
$font-size: 13px;

// Fonts
$standard-font: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-font: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
$font-family3: "Roboto", "Helvetica", "Arial", sans-serif;
